:root {
    --header-bcg: rgba(255, 255, 255, 0.31);
    --burger-bcg: rgba(217, 217, 217, 0.53);
    --main-font-color: #ffffff;
    --footer-bcg: rgba(0, 0, 0, 0.5);
    --resume-bcg: #000000;
    --odd-bcg: rgba(68, 68, 68, 0.9);
    --main-bcg: #7E7E7E;
    --descr-bcg: rgba(0, 0, 0, 0.70);
    --mobile-menu-bcg: rgba(0, 0, 0, 0.79);
    --project-title: #CAC8C8;
    --icon-hover: #d8a019;
    --mail-color: #0066FF;

    --edit-btn-text: #40503a;
    --edit-btn-bcg: #a2c892;
    --edit-btn-bcg-hover: #81A074;
    --edit-icon-hover: #CCD9C7;

    --delete-btn-bcg: #B9817B;
    --delete-btn-text: #5C403D;
    --delete-btn-bcg-hover: #946762;
    --delete-icon-hover: #DCC0BD;
}